@page "/adoptions/delete"
@using Microsoft.EntityFrameworkCore
@using PawfectMatch.Components.Pages.Models
@inject IDbContextFactory<PawfectMatch.Data.PawfectMatchContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Adoption</h2>
    <hr />
    @if (adoption is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@adoption.Email</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DogName</dt>
            <dd class="col-sm-10">@adoption.DogName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DogId</dt>
            <dd class="col-sm-10">@adoption.DogId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">SubmissionDate</dt>
            <dd class="col-sm-10">@adoption.SubmissionDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">AdditionalComments</dt>
            <dd class="col-sm-10">@adoption.AdditionalComments</dd>
        </dl>
        <EditForm method="post" Model="adoption" OnValidSubmit="DeleteAdoption" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(adoption is null)">Delete</button> |
            <a href="/adoptions">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Adoption? adoption;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        adoption = await context.Adoption.FirstOrDefaultAsync(m => m.Id == Id);

        if (adoption is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteAdoption()
    {
        using var context = DbFactory.CreateDbContext();
        context.Adoption.Remove(adoption!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/adoptions");
    }
}
