@page "/adoptions/details"
@using Microsoft.EntityFrameworkCore
@using PawfectMatch.Components.Pages.Models
@inject IDbContextFactory<PawfectMatch.Data.PawfectMatchContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Adoption</h2>
    <hr />
    @if (adoption is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@adoption.Email</dd>
            <dt class="col-sm-2">DogName</dt>
            <dd class="col-sm-10">@adoption.DogName</dd>
            <dt class="col-sm-2">DogId</dt>
            <dd class="col-sm-10">@adoption.DogId</dd>
            <dt class="col-sm-2">SubmissionDate</dt>
            <dd class="col-sm-10">@adoption.SubmissionDate</dd>
            <dt class="col-sm-2">AdditionalComments</dt>
            <dd class="col-sm-10">@adoption.AdditionalComments</dd>
        </dl>
        <div>
            <a href="@($"/adoptions/edit?id={adoption.Id}")">Edit</a> |
            <a href="@($"/adoptions")">Back to List</a>
        </div>
    }
</div>

@code {
    private Adoption? adoption;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        adoption = await context.Adoption.FirstOrDefaultAsync(m => m.Id == Id);

        if (adoption is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
